# Virtual environment
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Environment files
.env

# Editor folders
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
